html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #333;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.scrollers-container {
  height: 252px;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.scrollers-container .scroller {
  border-right: 1px solid transparent;
}
.scrollers-container .scroller:last-of-type {
  border-right: 0;
}
.scroller {
  display: table-cell;
  vertical-align: top;
}
.scroller .player-name,
.scroller .player-score {
  height: 30px;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  background-color: #333;
}
.scroller .player-score {
  font-size: 1.6em;
}
.scroller.green .scroller-outer {
  background-color: #87b341;
}
.scroller.yellow .scroller-outer {
  background-color: #d2c740;
}
.scroller.red .scroller-outer {
  background-color: #b52626;
}
.scroller.blue .scroller-outer  {
  background-color: #44a9b9;
}
.scroller.dealer .player-name {
  font-weight: bold;
}
.scroller-outer {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  /*border: 1px solid #ccc;*/
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.scroller-outer .scroller-inner .scroller-item {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  opacity: 0.6;
}
.scroller-outer .scroller-top-cover,
.scroller-outer .scroller-bottom-cover {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
.scroller-outer .scroller-top-cover {
  top: 0;
}
.scroller-outer .scroller-bottom-cover {
  bottom: 0;
}
.scroller-outer .scroller-inner .scroller-item.current {
  font-weight: bold;
  opacity: 1;
  font-size: 1.6em;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.scroller[data-role="scroller-template"],
.scroller-outer .scroller-inner .scroller-item[data-role="scroller-item-template"] {
  display: none;
}
.scroller-outer .scroller-inner .input-holder {
  display: none;
  position: absolute;
  width: 100%;
  top: 80px;
}
.scroller-outer .scroller-inner .input-holder.show {
  display: block;
}
.controlls-bar {
  padding: 10px 0;
}
.button {
  padding: 10px;
  background-color: #666;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.button.secondary-button {
  background-color: #999;
}
.controlls-bar .button {
  display: inline-block;
}
.player-profile .button {
  display: block;
  margin-top: 15px;
}
.lightbox {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0 , 0, 0.8);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 1500ms ease-out 1s;
  -moz-transition: opacity 1500ms ease-out 1s;
  -o-transition: opacity 1500ms ease-out 1s;
  transition: opacity 1500ms ease-out 1s;
}
.lightbox.show {
  display: block;
  opacity: 1;
}
.player-profile .profile-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: #b2b2b2;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  z-index: 3;
}
.player-profile .profile-content .close-profile {
  float: right;
  padding: 10px;
  margin-right: -10px;
  margin-top: -10px;
}
.player-profile .profile-content .close-profile .close-icon {
  position: relative;
  background: #333;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.6em;
  color: #fff;
  font-size: 1.2em;
  z-index: -1;
}
/* GREEDY CELL */
.display-table {
  display: table;
  margin: 0 -8px;
}
.cell-greedy {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
.cell-fixed {
  display: table-cell;
  vertical-align: top;
  width: 1px;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}

/* HELPERS */
.align-right {
  text-align: right;
}

/* FORM FIELDS */
.controlls-bar input[type="text"],
.player-profile input[type="text"],
.player-profile input[type="number"] {
  height: 40px;
  font-size: 1.2em;
  padding: 0 10px;
  width: 100%;
  color: #333;
  background: #d2d2d2;
  border: 0;
}
.player-profile input[type="text"],
.player-profile input[type="number"] {
  border: 1px solid #ccc;
}
.scroller-outer .scroller-inner .input-holder input[type="number"] {
  line-height: 40px;
  height: 40px;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 1.6em;
  border: 0;
}
.form-group {
  padding: 10px 0;
}
/* BOOTSTRAP OVERRIDE */
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.container-fluid, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}
